<h1>Players</h1>

<% if @count > 0 %>
    <%= render 'form' %>
<% else %>
    <div>No players added yet. <%= button_to "Add from year.", new_years_path, method: :get, class: "btn btn-small btn-default" %></div>
<% end %>



