<h1>Players</h1>


<%= grid(@players_grid) do |g|

  g.column name: 'Name' do |player|
    player.name
  end

  g.column name: 'Average', attribute: 'average', filter: false  do |player|
    player.average
  end

  g.column name: 'HR', attribute: 'hr', filter: false do |player|
    player.hr
  end

  g.column name: 'RBI', attribute: 'rbi', filter: false do |player|
    player.rbi
  end

  g.column name: 'Runs', attribute: 'runs', filter: false do |player|
    player.runs
  end

  g.column name: 'SB', attribute: 'sb', filter: false do |player|
    player.sb
  end

  g.column name: 'OPS', attribute: 'ops', filter: false do |player|
    player.ops
  end

end -%>


